.characters {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.text{
  color: #faf7f7;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
